html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #dde7ea;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: arial, "lucida console", sans-serif;
}

.content {
  flex: 1;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  font-family: arial, "lucida console", sans-serif;
}

.controls {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: arial, "lucida console", sans-serif;
}

button {
  margin: 0 10px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  font-family: arial, "lucida console", sans-serif;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: arial, "lucida console", sans-serif;
}

.slider {
  margin: 10px 0;
  font-family: arial, "lucida console", sans-serif;
}

label {
  margin-right: 10px;
}

input[type="range"] {
  width: 200px;
}

.current-time,
.duration {
  margin: 0 10px;
  font-size: 16px;
}

footer {
  position: relative;
  text-align: center;
  background-color: #a7e2e6;
  padding: 30px;
  margin-top: auto;
  font-family: arial, "lucida console", sans-serif;
}

header {
  position: relative;
  text-align: center;
  background-color: #2ca4c9;
  padding: 5px;
  font-family: arial, "lucida console", sans-serif;
  font-size: 30px;
}

#halloText {
  position: relative;
  text-align: center;
  background-color: #a7e2e6;
  padding: 10px;
  font-family: arial, "lucida console", sans-serif;
}

#aboutText {
  position: relative;
  text-align: center;
  font-family: arial, "lucida console", sans-serif;
  font-size: 15px;
}
